@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --boutonMenu: #DC9F96;
    --boutonMenuHover: #C02E44;
    --texteBouton: white;

}

/*Réglage général du Site Planty*/

body * {
    font-family: 'Syne', sans-serif;
}

/*HEADER*/
.site-header {
    Width: 1440px;
    Height: 80px;
    position: sticky;

}